<?xml version="1.0"?>
<launch>
   <!-- videofile path -->
   <arg name="videofile_path" default="$(find video_stream_opencv)/test/small.mp4" /> 
   <!-- rosbag path -->
   <arg name="rosbag_path" default="$(find video_stream_opencv)/test/output.bag" />
   
   <arg name="fps" default="30" />
   <arg name="camera_info_url" default="" />
   <arg name="visualize" default="false" />

   <!-- launch video stream -->
   <include file="$(find video_stream_opencv)/launch/video_file_tagslam.launch" >
         <arg name="fps" default="$(arg fps)" />
         <arg name="visualize" default="$(arg visualize)" />
         <arg name="camera_info_url" default="$(arg camera_info_url)" />
         <arg name="video_stream_provider" default="$(arg videofile_path)" />
   </include>
   <!-- launch rosbag, only record compressed images -->
   <node pkg="rosbag" type="record" name="recorder" output="screen" args="-O $(arg rosbag_path) /pg_17274483/image_raw/compressed /pg_17274483/image_raw"/>
</launch>
